*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #00FFFF, #32CD32);
}

.app{
    width: 100%;
    max-width: 540px;
    margin: 100px auto 20px;
    /* flex-direction: column; */
    gap: 20px;
    /* justify-content: center;
    align-items: flex-start; */
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(255,255,255,0.5);
}

.app > h2{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.logo{
    width: 30px;
    height: auto;
    margin-left: 10px;
}

.row{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    border-radius: 30px;
    padding-left: 20px;
    background-color: rgba(0,0,0,0.2);
}

input{
    flex: 1;
    border: none;
    background: transparent;
    outline: none;
    color: white;
    padding: 10px;
}

button{
    width: 150px;
    border: none;
    outline: none;
    padding: 15px;
    width: 70px;
    background: #ff5945;
    color: #fff;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
}

ul li{
    margin-top: 10px;
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-image: url(images/unchecked.png);
    top: 9px;
    left: 8px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(images/checked.png);
}

ul li span{
    position: absolute;
    right: 0px;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #edeef0;
}